.MuiGridList-root {
  background-color: #ebebeb;
}

.Post {
  margin: 20px;
  background-color: #383a3d;
  color: #0c88b4;
  padding: 20px;
}

.Search {
  .MuiFormControl-root .MuiFormLabel-root{
    color: #bdbdbd;
  }

  .MuiButton-containedPrimary {
    background-color: #30ceff;

    &:hover {
      background-color: #bdbdbd;
    }
  }
}

.posts {
  .MuiGridList-root {
    padding: 40px 20%;
    justify-content: center;

    .MuiGridListTile-root {
      margin: 5px 0.5%;
    }
  }
}

.MuiGridListTileBar-title a {
  color: #fff;
  margin-left: 10%;
}

.MuiGridListTileBar-subtitle span {
  color: #30ceff;
  margin-left: 10%;
}

.MuiGridListTileBar-actionIcon {
  margin-left: 5%;
}