body {
  background-color: #f3f3f3;
}

.Book {
  margin: 20px;
  background-color: #383a3d;
  color: #0c88b4;
  padding: 20px;
}

h1 {
  color: #383a3d;
}

.review-details ul li{
  color: #f3f3f3;
  list-style-type: none;
}
